@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');


.Navbar{
    border: 2px red solid;
    display: flex;
    justify-content: space-between;
    height: 87px;
}

.Logo{
    /* border: 2px red solid; */
    margin-top: 28px;
    margin-left: 40px;
}

.Profile{
    /* border: 2px red solid; */
    /* display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; */
    padding: 8px;
    gap: 10px;
    /* position: absolute; */
    /* left: 68.34%;
    right: 3.04%; */
    top: 0%;
    bottom: 0%;
    /* border: 1px solid #EBF0F5; */
    border: 1px solid red;
    border-radius: 10px;
}



.Container{
    display: flex;
    width: 100%;
    overflow: hidden;
    border: 2px red solid;

}

.Sidebar{
    border: 2px orange  solid;
    width:200%;
    height: 100vh;
    /* overflow: hidden; */
    display: flex;
    flex-direction: column;
}

.CenterGrid{
    /* border: 2px blue solid; */
    width:110%;
    height: auto;
    margin-left: 120px;
}



.sideDashboard{
    /* position: static; */
    /* border: 2px red solid; */
    width: 81px;
    height: 28px;
    /* left: 31px;
    top: 0px; */
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: -0.02em;
    color: #566474;
    /* flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 15px; */
}

.sideSkill{
    /* position: static; */
    /* border: 2px red solid; */

    width: 65px;
    height: 28px;
    left: 31px;
    top: 0px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: -0.02em;
    color: #445EE2;
    /* flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 15px; */
}


.sideInternships{
    /* position: absolute; */
    /* border: 2px red solid; */

    width: 79px;
    height: 28px;
    left: 71px;
    /* top: 127px; */
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: -0.02em;
    color: #566474;
}


.textHead{
    /* position: absolute; */
    width: 46px;
    height: 16px;
    left: 0px;
    top: 0px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.02em;
    color: #566474;
}

.SkillContainer{
    /* position: absolute; */
    /* width: 717px; */
    /* height: 109px;
    left: 267px;
    top: 164px; */
    /* border: 1px solid #EBF0F5; */
    /* border: 1px solid black; */
    /* box-sizing: border-box; */
    /* border-radius: 10px; */
    display: flex;
    /* justify-content: space-around; */
    padding: 20px;
    width: 717px;
    height: 109px;
    border: 1px solid #EBF0F5;
    border-radius: 10px;
}

.icon{
    /* border: 1px red solid; */
    margin-top: 30px;
    margin-left: 30px;
}

.contentSkill{
    /* border: 1px red solid;  */
    text-align: left;
    margin-left: 20.44px;
}

.SkillName{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    margin-top: 30px;
    /* identical to box height */

    letter-spacing: -0.02em;

    color: #222F3E;
}

.SkillDetails{
    font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 180%;
/* identical to box height, or 22px */

letter-spacing: -0.02em;

/* secondary text */

color: #566474;

}

.TestHeading{
    /* position: absolute; */
    left: 14.89%;
    right: 28.72%;
    top: 2%;
    bottom: 56%;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: -0.02em;   
    color: #222F3E; 
}  

.TestDetails{
    /* position: absolute; */
    width: 320px;
    height: 22px;
    left: 56px;
    top: 27px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 180%;
    letter-spacing: -0.02em;
    color: #566474;
}

.ModalToggler{
    align-items: center;
    padding: 4px;
    width: 120px;
    height: 44px;
    margin-top: 30px;
    margin-left: 150px;
    background: #142683;
    border-radius: 5px;
    border-color: #142683;
    color: #FFFFFF;
    font-weight: 700;
    letter-spacing: -0.02em;
}


.QuickStats{
    /* border: 1px solid black; */
    box-sizing: border-box;
    margin-top: 30px;
    position: absolute;
    width: 717px;
    height: 158px;
    /* left: 267px; */
    top: 253px;
    border: 1px solid #EBF0F5;
    border-radius: 10px;

}

.QuickStatsHeading{
    width: 119px;
    height: 28px;
    /* border: 1px solid black; */
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: -0.02em;
    color: #1E272E;
    margin-top: 30px;
    margin-left: 30px;
}

.QuickStatsContent{
    display: flex;
    justify-content: space-between;
    /* border: 2px red solid; */
    margin-left: 30px;
    margin-top: 20px;
}


.rankContent{
    display: flex;
    /* border: 2px green solid; */
    flex-direction:row;
    text-align:left;
}

.rankIcon{
    /* border: 2px blue solid; */
}

.rank{
    /* border: 2px red solid; */
    /* width: 30%; */
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.percentileContent{
    display: flex;
    /* border: 2px green solid; */
    flex-direction:row;
    text-align:left;
}

.percentileIcon{
    /* border: 2px blue solid; */
}

.percentile{
    /* border: 2px red solid; */
    /* width: 30%; */
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 20px;

}

.scoreContent{
    display: flex;
    /* border: 2px green solid; */
    flex-direction:row;
    text-align:left;
}

.scoreIcon{
    /* border: 2px blue solid; */
}

.score{
    /* border: 2px red solid; */
    /* width: 30%; */
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 20px;

}

.Line{
    box-sizing: border-box;
    /* position: absolute; */
    width: 1px;
    height: 60px;
    left: 483px;
    top: 381px;
    border: 1px solid #EBF0F5;
    border-radius: 10px;
}


.rankNum{
    /* position: absolute; */
    width: 66px;
    height: 29px;
    /* left: 367px;
    top: 381px; */
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 29px;
    letter-spacing: -0.02em;
    color: #1E272E;
}

.PercentileNum{
    /* position: absolute; */
    width: 43px;
    height: 29px;
    /* left: 604px;
    top: 381px; */
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 29px;
    letter-spacing: -0.02em;
    color: #1E272E;
}

.ScoreNum{
    /* position: absolute; */
    width: 66px;
    height: 29px;
    /* left: 840px;
    top: 381px; */
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 29px;
    letter-spacing: -0.02em;
    color: #1E272E;
}

.rankName{
    /* position: absolute; */
    width: 63px;
    height: 16px;
    /* left: 367px; */
    top: 80px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.02em;
    color: #9EAAB7;
    margin-top: 5px;
}

.PercentileName{
    /* position: absolute; */
    width: 65px;
    height: 16px;
    /* left: 604px; */
    top: 80px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.02em;
    color: #9EAAB7;
    margin-top: 5px;

}

.ScoreName{
    /* position: absolute; */
    width: 110px;
    height: 16px;
    /* left: 840px; */
    top: 80px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.02em;
    color: #9EAAB7;
    margin-top: 5px;

}

.GraphBox{
    width: 717px;
    height: 525px;
    border: 1px solid black;
}

.GraphHead{
    width: 142px;
    height: 28px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: -0.02em;
    color: #1E272E;
    border: 1px solid black;
}

.GraphData{
    border: 1px solid black;
}

.PercentileShow{     
    width: 432px;
    height: 42px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: #566474;
}

.LinePercentile{
    border: 1px solid black;
    width: 657px;
    height: 307px;
}


.QuesPie{
    /* border: 2px red solid; */
    width: 60%;
    margin-top:200px;
    border: 1px solid #EBF0F5;
    border-radius: 10px;
}

.PieHead{
    display: flex;
    justify-content: space-between;
}

.QuesHead{
    /* position: absolute; */
    width: 134px;
    height: 28px;
    margin-top: 31px;
    margin-left: 30px;
    /* left: 1044px;
    top: 654px; */
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: -0.02em;
    color: #1E272E;
    /* border: 2px red solid; */
}

.QuesNumber{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    margin-top: 34px;
    margin-right: 30px;
    /* identical to box height */
    letter-spacing: -0.02em;
    /* border: 2px red solid; */
    color: #438AF6;

}

.QuesDesc{
    /* border: 2px red solid; */
    margin-top:20px;
    text-align: left;
    margin-left: 30px;
}


.QuesAnalysis{
    /* position: absolute; */
    width: 326px;
    height: 42px;
    left: 1044px;
    top: 702px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: #566474;
}

.PieGraph{
    /* position: absolute; */
    width: 180.87px;
    height: 166.02px;
    /* left: 1130.98px; */
    /* top: 972.94px; */
    /* background: #438AF6; */
    /* border-radius: 2px; */
    transform: rotate(-90deg);
    /* border: 2px red solid; */
    z-index: -1;
}

.Arrow{
    position: relative;
   /* border: 2px red solid; */
   top: 200px;
   left: 10px;
   z-index: 1;
}

.AnswersPie{
    /* position: absolute; */
    /* width: 386px;
    height: 393px; */
    /* left: 1014px;
    top: 623px; */
    /* border: 2px red solid; */
    padding: 60px;
    /* z-index: -1; */
    /* border: 1px solid #EBF0F5; */
    /* box-sizing: border-box; */
    /* border-radius: 10px; */
}


.RightPanel{
    /* border: 2px green solid; */
    width:auto;
    height: 100vh;
    margin-left: 200px;
}

.SyllabAnalysis{

    box-sizing: border-box;
    position: absolute;
    width: 386px;
    height: 429px;
    border: 1px solid #EBF0F5;
    border-radius: 10px;
    /* border: 1px solid black; */
    border: 1px solid #EBF0F5;
    /* box-sizing: border-box; */
    /* border-radius: 10px; */
}
.testTags{
    margin-left: 30px;
    /* border: 2px red solid; */
    text-align: left;
}


.HTML{
    margin-left: 30px;
    border: 2px red solid;
}

.TAGS{
    margin-left: 30px;
    border: 2px red solid;
}

.TABLES{
    margin-left: 30px;
    border: 2px red solid;
}

.FORMS{
    margin-left: 30px;
    border: 2px red solid;   
}


.Syllabheader{
    width: 166px;
    height: 28px;
    margin-top: 30px;
    margin-left: 30px;
    /* border: 2px red solid; */
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: -0.02em;
    color: #1E272E;
}
