@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

.Navbar{
    border-bottom: 2px #EBF0F5 solid;
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 87px;
    width: 100%;
}

.Logo{
    position: absolute;
    height: 40%;
    top: 50%; 
    left: 2%;
    transform: translate(0%,-50%);
}

.Uout{
    position: absolute;
    margin: 6px 0px 0px 0px;
}

.Uin{
    position: relative;
    margin: 10px 0px 5px 5px;  
}

.Profile{
    position: absolute;
    border-radius: 10px;
    gap: 10px;
    display: flex;
    align-items: center;
    top: 50%; 
    right: 2%;
    transform: translate(0%,-50%);
    height: 50%;
    border: 1px solid #EBF0F5;  
}

.ProfileImage{
    width: 26px;
    height: 26px;
}

.ProfileName{
    width: 108px;  
    text-align: left;
    height: 28px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: -0.02em;
    color: #1E272E;
}

.Container{
    display: flex;
    position: relative;
    height: 100vh;
}

.Sidebar{
    display: flex;
    flex-direction: column;
    width: auto;
    height:150vh;
    width: 15%;
    position: absolute;
    border-right: 2px #EBF0F5 solid;
}

.CenterGrid{
    position: absolute;
    margin-left: 18%;
    width: 50%;
}

.sideDashboard{
    position: relative;
    margin: 0px 0px 0px 20px; 
    font-family: 'DM Sans';
    font-style: normal;
    line-height: 28px;
    letter-spacing: -0.02em;
    padding:20px 0px 20px 30px;
}

.Navlink1{
    margin-top: 44px;
}

.Navlink2{
    margin-top: 10px;
}

.DashboardIcon{
    position: absolute;
    margin: -1px 0px 0px -5px;
}

.line{
    margin: 0px 0px 0px 3px;
}

.dash{
    margin: 0px 0px 0px 21px;
}

.sideSkill{
    position: relative;
    margin: 0px 0px 0px 20px; 
    font-family: 'DM Sans';
    font-style: normal;
    line-height: 28px;
    letter-spacing: -0.02em;
    padding:20px 0px 20px 30px;
}

.SkillIcon{
    position: absolute;
    margin: 0px 0px 0px 30px;
}

.Badge{
    position: relative;
    margin: -23px 0px 0px 0px;
}

.SkillIcon1{
    position: absolute;
    margin: -5px 0px 0px -2px;
}

.Badge1{
    position: relative;
    margin: -21.5px 0px 0px 0.5px;
}

.sideInternships{
    position: relative;
    margin: 0px 0px 0px 20px; 
    font-family: 'DM Sans';
    font-style: normal;
    line-height: 28px;
    letter-spacing: -0.02em;
    padding:20px 0px 20px 30px;
}

.internIcon{
    position: absolute;
    margin: 0px 0px 0px -40px;
}

.internIcon2{
    position: relative;
    margin: -35px 0px 0px 5px;
}

.intern{
    margin: 0px 0px 0px 20px;
}

.textHead{
    width: 46px;
    height: 16px;
    margin: 30px 0px 0px 10px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.02em;
    color: #566474;
}

.SkillContainer{
    display: flex;
    padding: 30px;
    width: auto;
    height: auto;
    border: 1px solid #EBF0F5;
    border-radius: 10px;
    margin: 30px 0px 0px 0px;
}

.contentSkill{
    text-align: left;
    margin: 0px 0px 0px 20.44px;
}

.SkillName{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: -0.02em;
    color: #222F3E;
}

.SkillDetails{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 180%;
    letter-spacing: -0.02em;
    color: #566474;
}

.ModalToggler{
    padding: 4px;
    width: 120px;
    height: 44px;
    margin: 0px 0px 0px auto;
    background: #142683;
    border-radius: 5px;
    border-color: #142683;
    color: #FFFFFF;
    font-weight: 700;
    letter-spacing: -0.02em;
}

.TestHeading{
    left: 14.89%;
    right: 28.72%;
    top: 2%;
    bottom: 56%;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: -0.02em;   
    color: #222F3E; 
}  

.TestDetails{
    width: 320px;
    height: 22px;
    left: 56px;
    top: 27px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 180%;
    letter-spacing: -0.02em;
    color: #566474;
}

.QuickStats{
    padding: 30px;
    border-radius: 10px;
    margin: 50px 0px;
    border: 1px solid #EBF0F5;
}

.QuickStatsHeading{
    width: 20%;
    height: auto;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    letter-spacing: -0.02em;
    color: #1E272E;
}

.QuickStatsContent{
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
}

.rankContent{
    display: flex;
    flex-direction:row;
    text-align:left;
    padding: 10px;    
}

.Ellipse{
    position: absolute;
}

.Trophy{
    position: relative;
    text-align: center;
    margin: -40px 0px 0px 0px;  
}

.rank{
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0px 60px;
}

.percentileContent{
    display: flex;
    flex-direction:row;
    text-align:left;
    padding: 10px;    
}

.percentile{
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0px 60px;
}

.scoreContent{
    display: flex;
    flex-direction:row;
    text-align:left;
    padding: 10px;    
}

.score{
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0px 60px;
}

.Line{
    width: 0.01%;
    height: auto;
    border-radius: 10px;
}

.rankNum{
    width: auto;
    height: auto;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 29px;
    letter-spacing: -0.02em;
    color: #1E272E;
}

.PercentileNum{ 
    width: auto;
    height: auto;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 29px;
    letter-spacing: -0.02em;
    color: #1E272E;
}

.ScoreNum{
    width: 64px;
    height: 29px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 29px;
    letter-spacing: -0.02em;
    color: #1E272E;
}

.rankName{
    width: 63px;
    height: 16px;
    top: 80px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.02em;
    color: #9EAAB7;
    margin-top: 5px;
}

.PercentileName{
    width: 65px;
    height: 16px;
    top: 80px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.02em;
    color: #9EAAB7;
    margin-top: 5px;
}

.ScoreName{
    width: 110px;
    height: 16px;
    top: 80px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.02em;
    color: #9EAAB7;
    margin-top: 5px;
}

.GraphBox{
    border: 1px solid #EBF0F5;
    padding: 30px;
    border-radius: 10px;
}

.GraphHead{
    width: 142px;
    height: 28px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: -0.02em;
    color: #1E272E;
}

.GraphData{
    padding: auto;
    position: relative;
    display: flex;
}

.PercentileShow{     
    width: 432px;
    height: 42px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: -0.02em;
    color: #566474;
    text-align: left;
    position: relative;
}

.GraphIcon{
    margin: 10px 80px 0px auto;
}

.LinePercentile{
    width: 694px;
    height: 307px;
}

.QuesPie{
    border: 1px solid #EBF0F5;
    width: 50%;
    margin:-73% 0% 0% 103%;
    border-radius: 10px;
    padding: 30px;
}

.PieHead{
    display: flex;
    justify-content: space-between;
}

.QuesHead{
    width: 134px;
    height: 28px;
    margin: 0px 0px 0px 0px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: -0.02em;
    color: #1E272E;
}

.QuesNumber{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: -0.02em;
    color: #438AF6;
}

.QuesDesc{
    margin-top:20px;
    text-align: left;
}


.QuesAnalysis{
    width: 326px;
    height: 42px;
    left: 1044px;
    top: 702px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: #566474;
}

.PieGraph{
    transform: rotate(-90deg);
    position: relative;
}

.Arrow{
   position: absolute;
   margin-top: 20%;
   margin-left: 24%;
}

.AnswersPie{
    padding: 60px;
    position: relative;
}

.RightPanel{
    margin: auto;
}

.SyllabAnalysis{
    border: 1px solid #EBF0F5;
    height: auto;
    width: 25%;
    border-radius: 10px;
    padding: 30px 30px 30px 30px;
    margin-top: 75px;
    margin-left: 70.5%;
}

.testTags{
    text-align: left;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: -0.02em;
    color: #566474;
    width: 70%;
}

.Topics{
    margin-bottom: 4px;
}

.percentage{
    margin: 0px 0px 0px 94px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: -0.02em;
}

div.SyllabAnalysis div:nth-child(2){
    color: #438AF6;
}

div.SyllabAnalysis div:nth-child(3){
    color: #FF9142;
}

div.SyllabAnalysis div:nth-child(4){
    color: #FB5E5E;
}

div.SyllabAnalysis div:nth-child(5){
    color: #2EC971;
}

.Syllabheader{
    width: 166px;
    height: 28px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: -0.02em;
    color: #1E272E;
}
